a {
	color: #7C99AC;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: #FABB51;
	text-decoration: none;
	width: 30px;
}

.btn-blue {
	background-color: #395B64;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 1000px 20px 200px 30px;
}

.btn-blue:hover {
	background-color: #9AD0EC;
	color: white;
}